body {
    background-color: rgb(110, 0, 0);
    color: black;
}


/* MACRO CARD */
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-div h1 {
    color: white;
    text-shadow: 3px 3px 5px black;
}

.form-div {
    box-shadow: 0 4px 8px 0 black, 0 4px 8px 0 black;
    border-radius: 20px;
    background-color: white;

    height: 210px;
    width: 1000px;

    margin-inline: auto;
    margin-bottom: 5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-div {
    box-shadow: -7px 7px 5px black;
    background-color: white;
    height: fit-content;
    width: 1000px;
    margin-inline: auto;
}



/* FORM */
/* info */
.all-info {
    display: flex;
    justify-content: space-between;
    margin-inline: 7em;
    margin-bottom: 2em;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info label {
    color: rgb(110, 0, 0);
    font-weight: bold;
    margin-bottom: 1em;
}

.info input {
    text-align: center;
    border: 2px solid rgb(110, 0, 0);
    border-radius: 5px;
    height: 30px;
    width: 220px;
}

.info select {
    background-color: white;
    text-align: center;
    border: 2px solid rgb(110, 0, 0);
    border-radius: 5px;
    height: 30px;
    width: 220px;
}

/* button */
button {
    background-color: white;
    text-align: center;
    border: 2px solid rgb(110, 0, 0);
    border-radius: 20px;
    padding: 5px 10px;
}



/* BIGLIETTO */
/* nome passegero */
.nome-ticket {
    background-color: grey;
    flex: 0 0 40%;
}

.nome-ticket h3 {
    margin: 0;
}

.info-ticket {
    flex-basis: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

/* table */
tr th {
    width: 3000px;
    padding-top: 10px;
    padding-bottom: 50px;
}

tr td {
    padding-bottom: 10px;
}